.weather-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  }  

.weather-card {
  border-radius: 15px;
  padding: 1rem;
  margin: .5rem;
  cursor: pointer;
  min-width: 8rem;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.82);
}


.glass {
  background: rgba( 255, 249, 249, 0.20 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  /* ломает тултип: (?????) */
  /* backdrop-filter: blur( 7.5px ); */
  /* -webkit-backdrop-filter: blur( 7.5px ); */
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.weather-card:hover {
  transform: scale(1.1, 1.1);
}


.weather-date {
    margin: .3rem 0;
    font-size: 1rem;
    font-weight: 600;
}

.weather-weekdate {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.weather-temp {
    margin: .3rem 0;
    font-size: 1rem;
    font-weight: 500;
}

.weather-table {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin-top: 1rem;

    background: rgba( 255, 255, 255, 0.00 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.0px );
    -webkit-backdrop-filter: blur( 0.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.weather-sun {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-sun:first-child {
  padding-bottom: 1rem;
  border-bottom: 1px solid #fff;
}
.weather-sun:last-child {
  padding-top: 1rem;
}
.weather-sun p {
  padding-left: .5rem;
}

.picked-container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 1.5rem 2rem;
  max-width: 45rem;
  margin: 2rem auto;
  color: #fff;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.82);
  cursor: default;
}

.picked-close {
  background-color: transparent;
  color: #fff;
}

.picked-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 1rem;
  flex-wrap: wrap;
  font-size: 1.3rem;
}

.sub-header {
  border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
  justify-content: space-around;
  flex-wrap: wrap;
}

.picked-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid rgba( 255, 255, 255, 0.18 );
  padding-top: 1rem;
  flex-wrap: wrap;
}

.picked-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.1rem;
  padding: 1rem 0 2rem 0;
}

.picked-header h3, .picked-header p {
  font-size: 1.2rem;
}
.picked-header p {
    text-transform: capitalize;
}



.error-container {
  color: #000;
  cursor: default;
  font-size: 1.2rem;
}