.weather-container {
    display: flex;
    padding: 0 .5rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }  

.weather-card {
    border-radius: 15px;
    padding: 1rem;
    margin: 0 .5rem;
    cursor: pointer;
    min-width: 8rem;

    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.0px );
    -webkit-backdrop-filter: blur( 10.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.clicked {
    background: rgba( 25, 207, 249, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.weather-date {
    margin: .3rem 0;
    font-size: 1rem;
    font-weight: medium;
}

.weather-weekdate {
    margin: 0;
    font-size: 1.2rem;
    font-weight: normal;
    text-transform: capitalize;
}

.weather-temp {
    margin: .3rem 0;
    font-size: 1rem;
}

.weather-table {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    margin-top: 1rem;

    background: rgba( 255, 255, 255, 0.00 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.0px );
    -webkit-backdrop-filter: blur( 0.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.weather-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}



.picked-container {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 2rem;
    max-width: 50rem;
    margin: 2rem auto;
  }

  .picked-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
    padding-bottom: 1rem;

  }

  .picked-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1.1rem;
  }

  .picked-header h3, .picked-header p {
    font-size: 1.2rem;
  }
  .picked-header p {
      text-transform: capitalize;
  }