.App {
  text-align: center;
  color: #fff;
}

.timezone {
  margin: 2rem auto;
  padding: 9px;
  background-color: black;
  width: fit-content;
  cursor: default;
}

.load-error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}