*::before,
*::after {
	box-sizing: border-box;
}

:root {
	-moz-tab-size: 4;
	tab-size: 4;
}

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}


body {
	margin: 0;
	background-image: url('./back.jpg');
	background-position: center;
	background-size: cover;
}


body {
	font-family:
		'Poppins',
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

p {
	margin: .5rem 0;
}