*::before,
*::after {
	box-sizing: border-box;
}

:root {
	-moz-tab-size: 4;
	tab-size: 4;
	font-size: 16px;
}

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	letter-spacing: .5px;
}


body {
	margin: 0;
	background-image: url('./back.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}


body {
	font-family:
		'Poppins',
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

p {
	margin: .5rem 0;
}

.btn {
	width: min-content;
	border-radius: 5px;
	border: none;
}
.btn:focus {
	outline: none;
}
.btn:hover {
	cursor: pointer;
}

a, a:-webkit-any-link {
    width: max-content;
	color: #fff;
	text-decoration: none;
}

a:visited {
	color: #fff;
}

@media screen and (max-width: 500px) {
 :root {
	 font-size: 18px;
 }
}

@media screen and (min-width: 1900px) {
	:root {
		font-size: 24px;
	}
}